.container {
    background-color: aliceblue;
    width: 508px;
    height: 310px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}
h1 {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    width: 520px;
    text-align: center;
}
img {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
}
button {
    margin: 10px;
    position: fixed;
    background-color: antiquewhite;
}